
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Контакты</h1>

<div class="ContactDataContainer">

    <div>
        <h6>Адрес:</h6>
        <p>Петропавловская Борщаговка, ул. Большая Кольцевая, 4в, бокс 30</p>
    </div>
    
    <div>
        <h6>Номер телефона:</h6>
        <p>+38 095 487 40 19</p>
    </div>

    <div>
        <h6>Email:</h6>
        <p>electricenginescar@gmail.com</p>
    </div>

</div>


<iframe class="MapContainer" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.6543544209985!2d30.364370687137253!3d50.42611455970844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cbf70ba726d1%3A0x4e0f2772c238edfe!2sElectric%20Engines!5e0!3m2!1sru!2sua!4v1574864388731!5m2!1sru!2sua"></iframe>

